[Unit]
Description=DC-Metro-Map.js - A cool map example
Documentation=A simple cool map app
After=network.target

[Service]
Environment=PORT=80
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /root/simple-demo-app/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target